:root {
    --green: #4f4;
    --pink: #f4f;
    --light-blue: rgb(72, 139, 254);
    --purple: rgb(211, 98, 255);
    --link-blue: #0d6efd;
    --off-white: #f4f4f4;
    --off-black: #333;
    --sidebar-width: 170px;
    --orange: #f70;
}

body {
    padding: 0;
    background-color: var(--off-black) !important;
    color: var(--off-white) !important;
    font-family: Courier, monospace, Arial, sans-serif !important;
    font-size: 16px;
    line-height: 1.75 !important;
}

html {
    scroll-padding-top: 76px;
    scroll-behavior: smooth;
}

.personas h1 {
    color: var(--light-blue) !important;
}

.iterative h1 {
    color: var(--purple) !important;
}

.redesign h1 {
    color: var(--orange) !important;
}


h1, h1 a {
    color: var(--green) !important;
    font-weight: 700 !important;
    font-size: 2rem !important;
}

h1 a:hover {
    color: var(--link-blue) !important;
    text-decoration: underline !important;
}

h2 {
    font-weight: 580 !important;
    font-size: 1.6rem !important;
}
h3 {
    font-style: italic;
    font-size: 1.3rem !important;
}

h4 {
    font-weight: 500 !important;
    font-size: 1.1rem !important;
}

.navbar-brand img {
    width: auto;
    height: 50px;
}

#projects .card {
    transition: transform 0.3s;
}
#projects .card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px white;
}

.logo {
    transition: transform 0.3s, box-shadow 0.3s;
}
.logo:hover {
    box-shadow: 0 0 15px var(--off-white);
    transform: scale(1.03);
}

/* Sidebar styles */
.sidebar {
    width: var(--sidebar-width);
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.sidebar a:hover{
    text-decoration: underline !important;
}
@media (min-width: 768px) {
    .sidebar {
        display: none;
    }
    .content {
        margin-left: var(--sidebar-width) !important;
    }
}
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
    .content {
        margin-top: 1rem;
    }
}

.navbar-dark, .navbar[data-bs-theme=dark] {
    --bs-navbar-color: rgba(255, 255, 255, 0.7) !important;
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.9) !important;
    --bs-navbar-active-color: #fff !important;
    --bs-navbar-brand-hover-color: #fff !important;
    --bs-navbar-toggler-border-color: none !important;
}

.container {
    max-width: 1000px;
    min-width: 310px;
    width: 70% !important;
}

img, .image-container img {
    border-radius: 0.375rem;
}
.img-fluid:hover, .image-container:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.nohover:hover {
    transform: none !important;
}


body.iterative .img-fluid:active,
body.redesign .img-fluid:active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    object-fit: contain;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}