:root {
    --text-color: #4f4;
    --card-color: #f4f;
    --card-blue: #4ff;
}

body {
    margin: 10%;
    padding: 0;
    background-color: #222 !important;
    color: var(--text-color) !important;
    font-family: Courier, monospace, Arial, sans-serif !important;
    font-size: 16px;
    line-height: 1.5;
}
html {
    scroll-padding-top: 76px;
    scroll-behavior: smooth;
}

.navbar-brand img {
    width: auto;
    height: 50px;
}

#projects div {
    color: var(--card-color) !important;
    transition: transform 0.3s;

}

#projects img {
    box-shadow: 1px 1px 10px var(--card-color);
    transition: transform 0.3s;

}

#projects div:hover img {
    box-shadow: 2px 2px 15px var(--card-blue);
}
#projects div:hover {
    transform: scale(1.03);
    color: var(--card-blue) !important;
}

h1 {
    font-weight: bold !important;
    font-size: 300%;
}

h2 {
    font-weight: bold !important;
    font-size: 150%;
}

h3 {
    font-style: italic !important;
    font-size: 125%;
}

.navbar-dark, .navbar[data-bs-theme=dark] {
    --bs-navbar-color: rgba(255, 255, 255, 0.7) !important;
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.9) !important;
    --bs-navbar-active-color: #fff !important;
    --bs-navbar-brand-hover-color: #fff !important;
    --bs-navbar-toggler-border-color: none !important;
}