:root {
    --green: #4f4;
    --pink: #f4f;
    --light-blue: #4ff;
    --off-white: #f4f4f4;
    --off-black: #333;
}

body {
    padding: 0;
    background-color: var(--off-black) !important;
    color: var(--off-white) !important;
    font-family: Courier, monospace, Arial, sans-serif !important;
    font-size: 16px;
    line-height: 1.5;
}
html {
    scroll-padding-top: 76px;
    scroll-behavior: smooth;
}

.navbar-brand img {
    width: auto;
    height: 50px;
}

#projects div {
    color: white !important;
    transition: transform 0.3s;

}

#projects img {
    transition: transform 0.3s;
}

#projects div:hover img {
    box-shadow: 0 0 15px yellow;
}
#projects div:hover {
    transform: scale(1.03);
    color: yellow !important;
}

.logo {
    transition: transform 0.3s, box-shadow 0.3s;
}
.logo:hover {
    box-shadow: 0 0 15px yellow;
    transform: scale(1.03);
}

h1 {
    font-weight: bold !important;
    font-size: 200%;
    color: var(--green) !important;
}

.navbar-dark, .navbar[data-bs-theme=dark] {
    --bs-navbar-color: rgba(255, 255, 255, 0.7) !important;
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.9) !important;
    --bs-navbar-active-color: #fff !important;
    --bs-navbar-brand-hover-color: #fff !important;
    --bs-navbar-toggler-border-color: none !important;
}

.container {
    max-width: 1000px;
    min-width: 310px;
    width: 70% !important;
}

body.iterative {
    background-color: var(--off-white) !important;;
    color: var(--off-black) !important;
}

body.iterative img {
    border-radius: 0.375rem;
}
body.iterative img:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}